version: '3'

services:
  # --- O BROKER (O CORREIO) ---
  saga-rabbitmq:
    image: rabbitmq:3-management # Versão com painel visual
    container_name: saga-rabbitmq
    ports:
      - "5672:5672"   # Porta para o código (TCP)
      - "15672:15672" # Porta para você acessar no navegador
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  # --- SEU BANCO DE DADOS (ORDER) ---
  saga-postgres-order:
    image: postgres:15
    container_name: saga-postgres-order
    ports:
      - "5432:5432" # Porta Padrão
    environment:
      POSTGRES_USER: adonis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saga_orders
    volumes:
      - pg_order_data:/var/lib/postgresql/data

  # --- BANCO DE DADOS DO JOÃO GABRIEL (PAYMENT) ---
  saga-postgres-payment:
    image: postgres:15
    container_name: saga-postgres-payment
    ports:
      - "5433:5432" # ATENÇÃO: Mapeia a 5433 do seu PC para a 5432 do container
    environment:
      POSTGRES_USER: adonis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saga_payments
    volumes:
      - pg_payment_data:/var/lib/postgresql/data

  # --- BANCO DE DADOS DO JOÃO PEDRO (NOTIFICATION) ---
  saga-postgres-notification:
    image: postgres:15
    container_name: saga-postgres-notification
    ports:
      - "5434:5432" # ATENÇÃO: Mapeia a 5434 do seu PC para a 5432 do container
    environment:
      POSTGRES_USER: adonis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: saga_notifications
    volumes:
      - pg_notification_data:/var/lib/postgresql/data

  # -----------------------------------------------------------
  # AQUI ENTRA SÓ A SUA APLICAÇÃO (PAYMENT SERVICE)
  # -----------------------------------------------------------
  payment-service:
    build: ./payment-service
    container_name: saga-app-payment
    restart: always
    ports:
      - "3333:3333"
    environment:
      - PORT=3333
      - HOST=0.0.0.0
      - NODE_ENV=development
      - APP_KEY=sua_chave_do_env_aqui
      - DB_CONNECTION=postgres
      - DB_HOST=saga-postgres-payment
      - DB_PORT=5432
      - DB_USER=adonis
      - DB_PASSWORD=password
      - DB_DATABASE=saga_payments
      # RabbitMQ
      - RABBITMQ_HOST=saga-rabbitmq
    depends_on:
      - saga-postgres-payment
      - saga-rabbitmq

volumes:
  rabbitmq_data:
  pg_order_data:
  pg_payment_data:
  pg_notification_data: